.modal-header{
    color: #27AE60;
    padding: 1rem;
}

.modal-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-body{
    text-align: center;
}


